Options +SymLinksIfOwnerMatch
RewriteEngine On

# Allow Installatron requests
RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
RewriteRule (.*) - [L] 

RewriteCond %{HTTP_HOST} ^tiater.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.tiater.net$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) public/$1 [L]

RewriteRule ^ index.php [L]